.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards button {
  margin: 3rem;
  padding: .5rem 2rem;
  font-weight: bold;
}

.bookCard {
  display: flex;
  background-color: #61dafb;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  width: 20rem;
  box-shadow: 1rem 1rem rgb(189, 122, 122, .2);
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.formContainer label {
  font-size: 1.2rem;
  font-weight: bold;
}

.formContainer input {
  margin-right: .7rem;
  margin-left: .2rem;
}

.search-by-filter {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-family: 'Times New Roman', Times, serif;
}

.search-by-filter input {
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

